@using MyMusic.DbHelper;
@model AlbumViewModel;
@{
    ViewBag.Title = "Aggiungi Album";
}

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div>
            Aggiungi Album:
        </div>
        <hr>
        <div class="form-group">
            @Html.LabelFor(model => model.IdBand, htmlAttributes:new{@Class = "label col-nd-2"}) 
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.IdBand , 
                    new BandConnector().GetAllBands().AsEnumerable().Select(x=>new SelectListItem(x.Nome,x.IdBand.ToString())), 
                    htmlAttributes: new { @Class = "label col-nd-2"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes:new{@Class = "label col-nd-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Anno, htmlAttributes:new{@Class = "label col-nd-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anno)
            </div>
        </div>

        <br>
        <div class="form=group">
            <div class="col-md-offset col-md-10">
                <input type="submit" value="Salva" class="btn btn-default"/>
            </div>
        </div>
    </div>
}